body {
  background-color: red;
}
h1{
  color: black;
  font-family: 'Chewy', cursive;
  background-color: white;
  padding-right: 110px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
  margin-left: 100px;
  font-family: 'Chewy', cursive;
  outline: 10px solid black;
}
p{
  margin-right: 300px;
  font-family: 'Chewy', cursive;
}
a: link a:visited {
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 22px;
  font-family: 'Chewy', cursive;
}
a:hover a:active {
  background-color: red;
  outline: 10px solid black;
}
img {
  width: 300px;
  height: 300px;
