th{
	border-width: 3px;
	border-color: red;
	border-style: solid;
	padding: 8px; 
	background-color: white;
	font-size: 130%;
}
th.food{
	padding: 8px; 
	padding-top: 3px;
	background-color: white;
	border-radius: 600px;
	padding-top: 8px;
}
img{
	width: 350px;
	height: 200px;
}
h1{
	text-align: center;
	color: #cc0000;
	margin: auto;
	background-color: white;
	border-color: red; 
	margin-bottom: -10px;
	font-size: 250%;
	width: 100px;
	border-radius: 1000px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

a{
	color: blue;
}

table{
	font-family: "Palatino";
	margin-bottom: -5px;
}

img.logo{
	width: 700px;
	height: 350px;
	border-width: 4px;
	background-color: white;
	border-style: outset;
	border-color: red;
}

body{
	background-color: red;

}

ul{
	list-style-type: square;
}

td{
	background-color: white;
	border-color: red;
	border-style: solid;
	border-width: 3px;
}

p{
	text-align: center;
}
