body {
  font-family: 'Chewy';
  background-color:white;
  text-align: center;
}
/*Allows my html links to change color when mouse hovers over*/
a:hover {
  background-color: pink;
}
/* This centers all my text on a page */
.Centerer
{
  display: block;
  margin: auto;
}
#content {
  position: relative;
}
table, th, thd {
  border: 1 px solid black;
}
.menuDiv
{
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz transform: translate(-50%, -50%);
  -o-transform: translate (-50%, -50%);
  padding: 2px 4px 2px 4px;
}
.menuButtons {
  display: inline-block;
  border: 1px solid #333;
  box-shadow: 2px 4px 2px #444;
  padding: 2px 12px;
  width: 125px;
}
#MyImages {
  margin: auto;
}
/* How to create different color when activates*/
a: link, activated {
  background-color: white;
  color: red;
      */
       padding: 15px 25px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
}
a: hover, a: activate {
/*
  border: 1px solid #333;
  box-shadow: 2px 4px 2px #444;
  padding: 2px 12px; */
}
img{
  padding:5px;
  border:5px solid :black;
  background-color:white;]
}
  
  
  
